.App {
  text-align: center;
}

.help-block {
  text-align: left;
}

.language-key-full {
  text-align: left;
}

.form-control {
  min-height: 400px;
  resize: none;
}

.form-group {
  margin-bottom: 0;
}

.output {
  min-height: 400px;
  word-wrap: break-word;
}
